
.userPage {
    height: 100vh;
    background: linear-gradient(90.14deg, rgba(0, 0, 0, 0.9) 70.95%, rgba(133, 46, 186, 0.882) 88.71%, rgba(84, 36, 162, 0.729) 99.49%);
    background-blend-mode: darken;
    box-sizing: border-box;
    z-index: 5;
    display: flex;
    overflow: hidden;
} 

.answer-button{
  color: white;
}


