
.userPage {
    background: linear-gradient(90.14deg, rgba(0, 0, 0, 0.9) 64.95%, rgba(133, 46, 186, 0.882) 81.71%, rgba(84, 36, 162, 0.729) 99.49%);
    background-blend-mode: darken;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
} 


 .userPage > .playlist-container {
    width: 45%;
    float: right;
    display: grid;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    grid-template-areas: "search search search"
                         "back playlist-name next"
                         "playlist-songs playlist-songs playlist-songs";
    
    

    
}

.playlist-container > .back {
    grid-area: back;
}

.playlist-container > .playlist-name {
    grid-area: playlist-name;
}

.playlist-container > .next {
    grid-area: next;
} 

.playlist-container > .search {
    grid-area: search;
}

.playlist-container > .playlist-songs {
    grid-area: playlist-songs;
}

