
.modal {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: rgba(36, 35, 35, 0.8);
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  display: grid;
  grid-template-areas: "close"
                       "question"
                       "question"
                       "question"
                       "question"
                       "question"
                       "submit" ;
}

.display-block {
  display: block;
  overflow:auto;
}

.display-none {
  display: none;
}

.modal-main h2{
  color:white;
  font-size: 2em;
}

.answer{
  color: white;
  background-color:transparent;
  font-weight: bold;
  font-size: 1em;
}

.question-list{
  grid-area: question;
}

.close-button{
  grid-area: close;
}

.submit-button{
  grid-area: submit;
}


