
@media only screen and (min-width: 700px){
.userContainer{
    display: grid;
    box-sizing: border-box;
    background-color: transparent;
    height: 100%;
    width: 100%;
    overflow:auto;
    grid-template-areas:    "photo-area icon-area"
                            "photo-area playlist-container"
                            "photo-area playlist-container"
                            "photo-area playlist-container"
                            "photo-area playlist-container"
                            "photo-area playlist-container";
}
}

@media only screen and (max-width: 700px){
    .userContainer{
    display: grid;
    box-sizing: border-box;
    background-color: transparent;
    height: 100%;
    width: 100%;
    overflow:auto;
    grid-template-areas:    "icon-area"
                            "photo-area"
                            "photo-area"
                            "playlist-container"
                            "playlist-container"
                            "playlist-container";
}
}

@media only screen and (min-width: 800px){
.photo-area{
    height: 100vh;
    width: auto;
    grid-area: photo-area;
    overflow: auto;
    background-image: url(../components/images/music-6363734_1920_cropped2.jpg);
    background-size:cover;
    display: grid;
    grid-template-areas: "logo logo logo"
                        "quiz-button . ."
                        ". . ."
                        ". . ."
                        "search-bar search-bar search-bar";
}
}

@media only screen and (min-width: 600px) {
    .photo-area{
    height: 100vh;
    width:auto;
    grid-area: photo-area;
    background-image: url(../components/images/music-6363734_1280.jpg);
    background-size:cover;
    background-position: 50%;
    display: grid;
    grid-template-areas: "logo logo logo"
                        "quiz-button . ."
                        ". . ."
                        ". . ."
                        "search-bar search-bar search-bar";
    }
}

@media only screen and (max-width: 600px){
    .photo-area{
    width:auto;
    grid-area: photo-area;
    background-image: url(../components/images/music-6363734_640.jpg);
    background-size:cover;
    background-position: 50%;
    }
}

.logo{
    grid-area: logo;
    height: 1vw;
}

@media only screen and (min-width: 600px){
.quiz-button{
    grid-area: quiz-button;
    border-radius: 10px;
    background: rgba(36, 35, 35, 0.5);
    color:#FFFFFF;
    width: 30vw;
    padding: 1vmax;
    margin-left: 4em;
    margin-top: 10em;
    display: grid;
    grid-template-areas:    "h1 h1 quiz-icon"
                            "p p p";
}

.quiz-button > p{
    grid-area: p;
    font-size: 2vmax;
}
}

@media only screen and (max-width: 600px){
    .quiz-button{
    grid-area: quiz-button;
    border-radius: 10px;
    background: rgba(36, 35, 35, 0.5);
    color:#FFFFFF;
    height: 20vh;
    width: 80vw;
    padding: 1vmax;
    margin-left: 4em;
    margin-top: 10em;
    display: grid;
    grid-template-areas:    "h1 h1 quiz-icon"
                            "p p p";
}
    .quiz-button > p{
    grid-area: p;
    font-size: 2vmax;
    overflow: hidden;
}
}

.quiz-button > h1{
    grid-area: h1;
    font-size: 3vmax;
}



.search-bar{
    grid-area: search-bar;
    margin-left: 4vw;
    margin-bottom: 2vw;
    height: 8vh;
    width: 50vw;
    color:#FFFFFF;
    background: rgba(36, 35, 35, 0.5);
    border-radius: 10px;
    font-size: 2vmax;
    padding: 1em;
}

.icon-area{
    display: flex;
    justify-content: flex-end;
    grid-area: icon-area;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
}

.icon-button{
    padding-right: 3vw;
    border: none;
    background-color: transparent;
    outline: none;
    fill: white;
    max-width: 40px;
    height: auto;
}

.quiz-icon{
    fill: white;
    grid-area: quiz-icon;
}


.playlist-container {
    height: 95vh;
    width: auto;
    grid-area: playlist-container;
    display: grid;
    padding: 0px 10px 0px 10px;
    background: rgba(36, 35, 35, 0.5);
    box-sizing: border-box;
    grid-template-areas: "search search search"
                         "back playlist-name next"
                         "playlist-songs playlist-songs playlist-songs";
}

.rewind {
    grid-area: back;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (min-width: 1000px){
    .playlist-name {
        grid-area: playlist-name;
        font-size: 3vmax;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

@media only screen and (max-width: 1000px){
.playlist-name {
        grid-area: playlist-name;
        font-size: 2.5vmax;
        display: flex;
        justify-content: center;
        color: white;
    }
}
.fastforward {
    grid-area: next;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

@media only screen and (min-width: 1000px){
.playlist-songs {
    font-size: 1vmax;
    grid-area: playlist-songs;
    overflow-y: auto;
    height: 95%;
}
}

@media only screen and (max-width: 1000px){
    .playlist-songs {
    font-size: 1.75vmax;
    grid-area: playlist-songs;
    overflow-y: auto;
    height: 95%;
}
}


.playlist-container > .playlist-songs > .playlist-song {
    display: grid;
    grid-template-areas: "cover title title"
                        "cover artist artist";
    text-align: left;
    justify-content: flex-start;
    padding-bottom: 1em;
}

.playlist-song > h3 {
    /* margin-bottom: 0.3em; */
    color: white;
    grid-area: title;
    padding-left: 5px;
    vertical-align: text-bottom;
    margin-bottom: 0.1em;
    padding-top: 0px;

}

.playlist-song > p {
    /* margin-top: 0.3em; */
    color:white;
    grid-area: artist;
    padding-left: 5px;
    margin-top: 0.1em;
}



.arrow-button {
    fill: white;
}

.button {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: flex-end;
}

.album-cover {
    height: 96px;
    width: 96px;
    grid-area: cover;
    padding-left: 2px;
    padding-right: 5px;
    border-radius: 10%;
}